body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #ffffff, #00A651);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    padding: 40px;
    width: 360px;
    border-radius: 12px;
    border-bottom: 6px solid #00A651;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    color: #00A651;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #E60000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #cc0000;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #024d26, #4d9d18);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    border-top: 6px solid #00A651;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    color: #00A651;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background: #00A651;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #008f45;
}
