body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, white, #00A651);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-container {
    background: #ffffff;
    padding: 35px;
    width: 340px;
    border-radius: 10px;
    border-left: 6px solid #E60000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    color: #E60000;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #00A651;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #008f45;
}


