
.forgot-container {
    background: #fff;
    padding: 200px 35px 200px 35px;
    width: 340px;
    border-radius: 10px;
    border-left: 6px solid #E60000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

