/* ========= GENERAL STYLES ========= */
body {
    margin: 0;
    padding: 0;
    background: #f4f7fa;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 2px auto;
    background: #fff;
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
} 

h1, h2, h3 {
    color: #333;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;

}


/* ========= FORMS ========= */
form {
    width: 100%;
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

form button {
    width: 100%;
}



/* ========= TABLES ========= */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #999;
    padding: 12px;
    text-align: left;
}

table th {
    background: #007bff;
    color: white;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    padding: 40px 20px 20px;
    margin-top: 40px;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h3,
.footer-section h4 {
    color: #fcd34d;
    margin-bottom: 10px;
}

.footer-section p {
    line-height: 0.6;
    color: #ddd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section a{
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #fcd34d;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #444;
    color: #ccc;
}

.btn-div{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn{
    padding: 15px 30px;
    font-size: 18px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 100px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.btn:hover{
    background-color: red;
    transform: scale(1.05);
}



