<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container small">
        <h1 class="title">Admin Login</h1>

        <form action="#" method="post">
            <label>Admin Email</label>
            <input type="email" required>

            <label>Password</label>
            <input type="password" required>

            <button type="submit" class="btn-primary">Login</button>
        </form>

        <a href="{% url 'index'%}" class="back-link">Back Home</a>
    </div>
</body>
</html>
