
{% extends 'base.html' %}
{% load static %}

 {% block content%}

 <nav class="navbar">
   <div class="logo">Smart Chama </div>
     <ul>
       <li><a href="member_home.html" id="btn-nav">Home</a></li>
       <li><a href="deposit.html" id="btn-nav">Deposit</a></li>
       <li><a href="withdraw.html" id="btn-nav">Withdraw</a></li>
       <li><a href="members_list.html" id="btn-nav">Members</a></li>
       <li><a href="statements.html" id="btn-nav">Statements</a></li>
       <li><a href="withdrawal_timeline.html" id="btn-nav">Withdrawal Timeline</a></li>
       <li><a href="{% url 'index' %}"  id="btn-nav">Log Out</a></li>
     </ul>
 </nav>
<div class="container">

 <h1>Member Dashboard</h1>

 <div class="btn-div">
    <button class="btn">Deposit</button> <button class="btn">Withdraw</button>
 </div>
 
<h2>Announcent</h2>

<div class="announce">

</div>

</div>

{% endblock content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Dashboard - Smart Chama</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="navbar">
    <a href="{% url 'member_home'%}">Home</a>
    <a href="{% url 'deposit'%}">Deposit</a>
    <a href="{% url 'withdraw'%}">Withdraw</a>
    <a href="{% url 'member_list'%}">Members</a>
    <a href="{% url 'statements'%}">Statements</a>
    <a href="{% url 'withdrawal_timeline'%}">Withdrawal Timeline</a>
    <a href="{% url 'admin_login'%}" style="float:right;">Admin</a>
</div>
   

<h2>Welcome, {{ member.full_name }}</h2>

<p><strong>Email:</strong> {{ member.email }}</p>
<p><strong>Phone:</strong> {{ member.phone_number }}</p>
<p><strong>National ID:</strong> {{ member.idNumber }}</p>
<div class="container">
    <h2>Member Dashboard</h2>

    <h3>Announcements</h3>
    <p>No announcements available.</p>
</div>

</body>
</html>
